# Gradle
.gradle/
build/
**/build/
gradle-app.setting
!gradle-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Kotlin / MPP
.kotlin/
.konan/

# Local configuration
local.properties

# Map Cache
maps_cache/

# OS/System files
.DS_Store
Thumbs.db
